div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card {
    border: 2px solid black;
    padding: 20px;
    font-size: 25px;
    width: fit-content;
    border-radius: 10px;
    margin: 30px;
    transform: translateX(100px);
    transition: 150ms;
    
}
.card.show {
    transform: translateX(0);
    opacity: 1;
}